<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="seats.css">
    <title>Seats</title>
</head>
<body>

<div>
  <div class="lower">
    <div class="container">
      <div>
        driver
      </div>
      <div class="container">
        <div class="vl"></div>
      </div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
    </div>

    <div class="container">
      <div class="gp">
      </div>
      <div class="container">
        <div class="vl"></div>
      </div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
    </div>
  </div>


  <div class="upper">
    <div class="container">
      <div class="item-1">
        <button class="seats"></button></div>
      <div class="item-1">
        <button class="seats"></button></div>
      <div class="item-1">
        <button class="seats"></button></div>
      <div class="item-1">
        <button class="seats"></button></div>
      <div class="item-1">
        <button class="seats"></button>  </div>
      <div class="item-1">
        <button class="seats"></button>  </div>
      <div class="item-1">
        <button class="seats"></button>  </div>
      <div class="item-1">
        <button class="seats"></button>  </div>
      <div class="item-1">
        <button class="seats"></button>  </div>
      <div class="item-1">
        <button class="seats"></button>  </div>
    </div>
    <div class="container">
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button></div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
      <div class="item-1">
        <button></button>  </div>
    </div>
  </div>

</div>
</body>
</html>