<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ready Rides</title>
</head>
<body>

<form method="post">
  <div class="form-group">
    <label>From Destination</label>
    <input type="text" placeholder="Enter From Destination">
  </div>
  <div class="form-group">
    <label >To Destination</label>
    <input type="text" placeholder="Enter To Destination">
  </div>
  <div class="form-group">
    <label >Date of Travel</label>
    <input type="date">
  </div>
  <button>Search Bus</button>
  </form>

</body>
</html>